<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>
      button {
        width: 250px;
        height: 25px;
        background: none;
        margin: 2px;
      }
    </style>

    <title>Thank you!</title>
  </head>
  <body>
    <p>
      Thank you, {{ name }} for reaching out! I will get back to you shortly!
    </p>
    <button><a href="/">Take me back!</a></button>
  </body>
</html>
